[submodule "3rd_party/scalesim"]
	path = 3rd_party/scalesim
	url = git@github.com:dubcyfor3/SCALE-Sim.git
[submodule "3rd_party/cacti"]
	path = 3rd_party/cacti
	url = git@github.com:HewlettPackard/cacti.git
[submodule "3rd_party/DRAMsim3"]
	path = 3rd_party/DRAMsim3
	url = git@github.com:umd-memsys/DRAMsim3.git
[submodule "3rd_party/SimplerEnv-OpenVLA"]
	path = 3rd_party/SimplerEnv-OpenVLA
	url = https://github.com/DelinQu/SimplerEnv-OpenVLA.git
[submodule "3rd_party/lerobot"]
	path = 3rd_party/lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "3rd_party/CogACT"]
	path = 3rd_party/CogACT
	url = https://github.com/microsoft/CogACT.git
[submodule "3rd_party/openvla"]
	path = 3rd_party/openvla
	url = https://github.com/openvla/openvla.git
